@import java.util
@(books: util.List[Book])

@header("titre catalogue")

<body>

<nav id="main-nav-h" class="navbar navbar-fixed-top default affix wow slideInDown">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="@routes.Assets.at("img/logo1.png")" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        @menu()
        </div>
    </div>
</nav>

<section class="mt160">
    <div class="container">
        <div class="row wow slideInDown">
            <div class="col-md-12">
                <h5 class="fz-16" style="display: inline-block"><a href="/catalogs" class="orange" title="Le catalogue">Le catalogue</a> ></h5>
                <h5 class="fz-16" style="display: inline-block">@if(books.size() > 0 ) {
                    @books.get(0).getCategoryTitle
                }</h5>
                <hr>
            </div>
        </div>

        @for(book <- books) {
            <div class="row mt40 list-view wow slideInDown gray-bg">
                <div class="col-md-2 no-padding">
                    <div class="quick-view-layer">
                        <img src="@routes.Assets.at("img/book/"+book.getCategory+"/"+book.getImage+".jpg")" alt="@book.getTitle">
                    </div>
                </div>
                <div class="col-md-10 no-padding">
                    <div class="list-view-content">
                        <h5 class="fz-16 mt30">@book.getTitle</h5>
                        <h5 class="orange fz-16">par @book.getAuteur</h5>
                        <p><br>@Html(book.getOverview)</p>
                    </div>
                    <div class="social-detail mt20 pull-right">
                        <a href="/catalogs/@book.getCategory/books/@book.getId">voir detail</a>
                    </div>
                </div>
            </div>
        }


    </div>
</section>

    @footer()
