@import java.util
@(books: util.List[Book])

@header("titre catalogue")

<body>

<nav id="main-nav-h" class="navbar navbar-fixed-top default affix wow slideInDown">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="@routes.Assets.at("img/logo1.png")" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        @menu()
        </div>
    </div>
</nav>

<section class="mt160">
    <div class="container">
        <div class="row wow slideInDown">
            <div class="col-md-12">
                <h1>@books.get(0).getCategory</h1>
                <hr>
            </div>
        </div>

        @for(book <- books) {
            <div class="row mt40 list-view wow slideInDown">
                <div class="col-md-5 no-padding">
                    <div class="quick-view-layer">
                        <img src="@routes.Assets.at("img/shop-list2.jpg")" alt="">
                    </div>
                </div>
                <div class="col-md-7 no-padding gray-bg">
                    <div class="list-view-content">
                        <h4 class="text-bold text-uppercase">@book.getTitle</h4>
                        <p>@book.getOverview</p>
                    </div>
                    <div class="list-view-content-bottom">
                        <div class="shop-cart pull-right">
                            <a href="/catalogs/@book.getCategory/books/@book.getId">Lire la suite</a>
                        </div>
                        <div class="clearfix clearfix visible-sm-block visible-xs-block "></div>
                    </div>


                </div>
            </div>
        }


    </div>
</section>

    @footer()
