@header("Notre catalogue")

<body>

<nav id="main-nav-h" class="navbar navbar-fixed-top default affix wow slideInDown">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="@routes.Assets.at("img/logo1.png")" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        @menu()
        </div>
    </div>
</nav>

<section class="mt160">
    <div class="container wow slideInDown">
        <div class="row">
            <div class="col-md-12">
                <h5 class="fz-16" >Le catalogue</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 our-work-main mt30">
                <a href="/catalogs/cultures-africaines-et-tradition-orale/books" title="Culture Africaine et Tradition Orale">
                    <div class="our-work-inner">
                        <div class="our-work-hover">
                            <div class="our-work-hover-text text-uppercase">
                                <h4>Culture Africaine et Tradition Orale</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 our-work-main mt30">
                <a href="/catalogs/histoire-et-politique/books" title="Histoire et Sciences Politiques">
                    <div class="our-work-inner">
                        <div class="our-work-hover">
                            <div class="our-work-hover-text text-uppercase">
                                <h4>Histoire et Sciences Politiques</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 our-work-main mt30">
                <a href="/catalogs/jeunesse/books" title="Jeunesses">
                    <div class="our-work-inner">
                        <div class="our-work-hover">
                            <div class="our-work-hover-text text-uppercase">
                                <h4>Jeunesse</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clearfix visible-md-block"></div>
            <!-- </div>
            <div class="row mt60"> -->
            <div class="col-md-4 col-sm-6 our-work-main mt60">
                <a href="/catalogs/langues-africaines/books" title="Langages Africaines">
                    <div class="our-work-inner">
                        <div class="our-work-hover">
                            <div class="our-work-hover-text text-uppercase">
                                <h4>Langues Africaines</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 our-work-main mt60">
                <a href="/catalogs/poesie/books" title="Poesie">
                    <div class="our-work-inner">
                        <div class="our-work-hover">
                            <div class="our-work-hover-text text-uppercase">
                                <h4>Poesie</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 our-work-main mt60">
                <a href="/catalogs/theatre/books" title="Theatre">
                    <div class="our-work-inner">
                        <div class="our-work-hover">
                            <div class="our-work-hover-text text-uppercase">
                                <h4>Theatre</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>

    @footer()
