@header("L'histoire de Nubia")

<body>



    <section class="mt160">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="fz-16"  style="text-align: center" ><i>Le site de Nubia est en cours de construction.</i></h5>
                    <h5 class="fz-16" style="text-align: center" >Nous restons à votre disposition par mail info@@associationnubia.com</h5>
                </div>
            </div>

        </div>


    </section>


