

@header("Nous contacter")

<body>

    <nav id="main-nav-h" class="navbar navbar-fixed-top default affix wow slideInDown">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="@routes.Assets.at("img/logo1.png")" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        @menu()
        </div>
      </div>
    </nav>

<section class="mt160">
  <div class="container">
    <div class="row wow slideInDown">
    <div class="row mt30">
      <div class="col-md-12 wow fadeIn">
        <h5 class="fz-16" >Vos questions</h5>
        <hr>
        <div class="contact-us mt50">
          <div class="row mt30">
            <div class="col-md-7">
              <form action="#" method="post">
                <div class="row">

                  <div class="col-md-4">
                    <input name="nom" type="text" class="form-control" placeholder="Nom">
                  </div>

                  <div class="col-md-4">
                    <input name="prenom" type="text" class="form-control" placeholder="Prénom">
                  </div>

                  <div class="col-md-4">
                    <input name="email" type="text" class="form-control" placeholder="Email">
                  </div>
                </div>

                <div class="row">

                  <div class="col-md-12">
                    <br>
                      <select name="objet" class="form-control">
                        <option value="" class="form-control">choisissez votre sujet</option>
                        <option value="" class="form-control">Devenir membre</option>
                        <option value="" class="form-control">Commander un ouvrage</option>
                        <option value="" class="form-control">Devenir partenaire</option>
                        <option value="" class="form-control">Divers questions</option>
                        <option value="" class="form-control">Contacter la Directrice de la Publication </option>
                        <option value="" class="form-control">Envoyer vos manuscrits</option>
                      </select>
                  </div>


                </div>

                <span id='remainingC' class="orange"></span>
                  <textarea name="message" rows="10" class="form-control" placeholder="Message"></textarea>
              <div class="mt30">
                <button type="submit" class="btn-orange">Envoyer</button>
              </div>
              </form>
            </div>
            <div class="col-md-5">
              <div class="cotact-details mb30 mt10">
                <div class="row">
                  <div class="col-md-5">
                    <i class="fa fa-map-marker orange"></i> <span class="text-bold">Domiciliation postale :</span>
                  </div>
                  <div class="col-md-7">
                    <span>68, bd de Port Royal 75005 Paris</span>
                  </div>
                </div>
              </div>
              <div class="cotact-details mb30">
                <div class="row">
                  <div class="col-md-5">
                    <i> <img src="@routes.Assets.at("img/envelope.png")" alt=""></i> <span class="text-bold"> E-mail:</span>
                  </div>
                  <div class="col-md-7">
                    <span>info@@associationnubia.com</span>
                  </div>
                </div>
              </div>
              <div class="cotact-details mb30">
                <div class="row">
                  <div class="col-md-5">
                    <i class="fa fa-phone orange"></i> <span class="text-bold"> Telephone:</span>
                  </div>
                  <div class="col-md-7">
                    <span>+33 6 28 48 85 28</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  </div>
</section>

  @footer()
