
<section></section>

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>All Rights Reserved. © 2016. Developed by <a href="" title="APKode">APKode.net</a></p>
            </div>
        </div>
    </div>
</div>

<script src="@routes.Assets.at("js/jquery.js")"></script>
<script src="@routes.Assets.at("js/bootstrap.js")"></script>
<script src="@routes.Assets.at("js/jquery.themepunch.revolution.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/jquery.themepunch.tools.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/owl.carousel.js")"></script>
<script src="@routes.Assets.at("js/jquery.mixitup.js")"></script>
<script src="@routes.Assets.at("js/featherlight.js")"></script>
<script src="@routes.Assets.at("js/imagesloaded.pkgd.min.js")"></script>
<script src="@routes.Assets.at("js/isotope.pkgd.min.js")"></script>
<script src="@routes.Assets.at("js/bootstrap-select.min.js")"></script>
<script src="@routes.Assets.at("js/wow.js")"></script>
<script src="@routes.Assets.at("js/custom.js")"></script>
@*<script src="@routes.Assets.at("https://maps.googleapis.com/maps/api/js")"></script>
<script src="@routes.Assets.at("js/gmap.js")"></script>*@
<script src="@routes.Assets.at("js/custom.js")"></script>
<script>
        $(function() {
            "use strict";
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
</script>

<script>
    $('textarea').keypress(function(){

        if(this.value.length > 500){
            return false;
        }
        $("#remainingC").html("-" +(500 - this.value.length));
    });
</script>


</body>
</html>