@header("Nous rejoindre")

<body>

<nav id="main-nav-h" class="navbar navbar-fixed-top default affix wow slideInDown">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="@routes.Assets.at("img/logo1.png")" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        @menu()
        </div>
    </div>
</nav>

<section class="mt160">
    <div class="container">
        <div class="row wow slideInDown">
            <div class="col-md-12">
                <h5 class="fz-16">Telecharger le formulaire d'adhesion</h5>
                <hr>
            </div>
            <div class="row mt30">
                <div class="col-md-12 wow fadeIn">
                    <blockquote>
                        <p><a href="@routes.Assets.at("file/formulaire-adhesion-nubia-2016.pdf")" title="Formulaire d'adhesion" target="_blank">Formulaire</a> </p>
                    </blockquote>

                </div>

            </div>
        </div>
    </div>
</section>

    @footer()
