@header("Bureau et Conseil d'administration")

<body>
<nav id="main-nav-h" class="navbar navbar-fixed-top default affix wow slideInDown">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="@routes.Assets.at("img/logo1.png")" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        @menu()
        </div>
    </div>
</nav>

<section class="mt160">
    <div class="container wow slideInDown">
        <div class="row">
            <div class="col-md-12">
                <h5 class="fz-16" >Le bureau et le Conseil d’administration</h5>
                <hr>
            </div>
        </div>
        <div class="row mt30">
            <div class="col-sm-6 mt20  p-lr-30">
                <div class="row gray-bg">
                    <div class="col-md-6 no-padding-left">
                        <img src="@routes.Assets.at("img/our-team/janna-sow-thumb.jpg")" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-uppercase fz-16 mt30">Janna Sow</h5>
                        <h5 class="orange fz-16">Présidente </h5>
                        <p class="mt30 mb30">Après des études de Droit et de communication, Janna a occupé des postes d’Executive assistant et Office Manager dans de grandes entreprises francophones et anglophones.</p>
                        <div class="social-detail mt20 no-margin-left">
                            <a href="/teams/janna-sow">voir profil</a>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mt20 p-lr-30">
                <div class="row gray-bg">
                    <div class="col-md-6 no-padding-left">
                        <img src="@routes.Assets.at("img/our-team/elsie-augustave-thumb.jpg")" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-uppercase fz-16 mt30">Elsie Augustave</h5>
                        <h5 class="orange fz-16">Secrétaire administrative</h5>
                        <p class="mt30 mb30">Née en Haïti, Elsie Augustave est diplômée en études de littérature et en langues étrangères aux universités de Middlebury College dans le Vermont et Howard University à Washington, DC.</p>
                        <div class="social-detail mt20 no-margin-left">
                            <a href="/teams/elsie-augustave">voir profil</a>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt30">
            <div class="col-sm-6 mt20  p-lr-30">
                <div class="row gray-bg">
                    <div class="col-md-6 no-padding-left">
                        <img src="@routes.Assets.at("img/our-team/mathieu-gbetro-thumb.jpg")" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-uppercase fz-16 mt30">Mathieu Gbetro</h5>
                        <h5 class="orange fz-16">Trésorier</h5>
                        <p class="mt30 mb30">Diplômé en gestion, marketing digital et en droit des nouvelles technologies, Mathieu a évolué dans plusieurs entreprises leader du secteur : AOL, Orange et autres. </p>
                        <div class="social-detail mt20 no-margin-left">
                            <a href="/teams/mathieu-gbetro">voir profil</a>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mt20  p-lr-30">
                <div class="row gray-bg">
                    <div class="col-md-12">
                        <h5 class="text-uppercase fz-16 mt30">Ils siègent au Conseil d’administration avec : </h5>
                        <ul>
                            <li>Aïssa Diallo</li>
                            <li>Amadou Oury Diallo</li>
                            <li>Stéphane Dolivet</li>
                            <li></li>
                        </ul>
                        <br><br>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>

    @footer()
