@header("Bureau et Conseil d'administration")

<body>
  <nav id="main-nav-h" class="navbar navbar-fixed-top default affix wow slideInDown">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="@routes.Assets.at("img/logo1.png")" alt=""></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
      @menu()
      </div>
    </div>
  </nav>



  <section class="mt160">
    <div class="container wow slideInDown">
      <div class="row">
        <div class="col-md-12">
          <h1>Le Bureau</h1>
          <hr>
        </div>
      </div>
      <div class="row mt50 gray-bg">
        <div class="col-md-3">
          <img src="@routes.Assets.at("img/our-team/elsie-augustave.jpg")" alt="" class="img-responsive">
        </div>
        <div class="col-md-9">
          <h1 class="mt40">Profile Detail</h1>
          <ul class="list-unstyled profile-detail">
            <li>Nom :<span class="pull-right">Elsie Augustave</span></li>
            <li>Poste :<span class="pull-right">Secrétaire administrative</span></li>
          </ul>
          <div class="clearfix visible-xs-block"></div>
        </div>
      </div>
      <div class="row mt50">
        <div class="col-md-12">
          <p class="text-left">Née en Haïti, Elsie Augustave est diplômée en études de littérature et en langues étrangères aux universités de Middlebury College dans le Vermont et Howard University à Washington, DC. </p>
          <p class="text-left">Elle a, par la suite, obtenu une bourse de la prestigieuse institution Fulbright qui lui a permis de valoriser ses compétences en France et au Sénégal. </p>
          <p class="text-left">Par ailleurs, elle a travaillé en tant que chorégraphe du Théâtre National de l’ex Zaïre, aujourd’hui, République Démocratique du Congo, ainsi que professeur de danse à l’Institut National des Arts de Kinshasa.</p>
          <p class="text-left">Elsie Augustave est l’auteur du roman, The Roving Tree, qui a été bien reçu par la critique américaine, et co-auteur du Guide de Lecture de l’Enfant Noir de Camara Laye.</p>
          <p class="text-left">Après une longue carrière de professeur de français et d’espagnol aux Etats-Unis, elle se consacre désormais à l’écriture et à sa mission de Directrice de publication au sein de l’équipe dirigeante de Nubia. </p>
          <hr class="thin">

        </div>
      </div>
    </div>
  </section>


@footer()