@header("Bureau et Conseil d'administration")

<body>
<nav id="main-nav-h" class="navbar navbar-fixed-top default affix wow slideInDown">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="@routes.Assets.at("img/logo1.png")" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        @menu()
        </div>
    </div>
</nav>

<section class="mt160">
    <div class="container wow slideInDown">
        <div class="row">
            <div class="col-md-12">
                <h1>Bureau et Conseil d'administration</h1>
                <hr>
            </div>
        </div>
        <div class="row mt30">
            <div class="col-sm-6 mt20  p-lr-30">
                <div class="row gray-bg">
                    <div class="col-md-6 no-padding-left">
                        <img src="@routes.Assets.at("img/our-team/team1.jpg")" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-uppercase fz-16 mt30">Janna Sow</h5>
                        <h5 class="orange fz-16">- Profession</h5>
                        <p class="mt30 mb30">Une presentation sur Janna Sow doit etre inseree ia cet endroid</p>
                        <div class="social-detail mt20 no-padding no-margin">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mt20 p-lr-30">
                <div class="row gray-bg">
                    <div class="col-md-6 no-padding-left">
                        <img src="@routes.Assets.at("img/our-team/team2.jpg")" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-uppercase fz-16 mt30">Elsie Augustave</h5>
                        <h5 class="orange fz-16">- Profession</h5>
                        <p class="mt30 mb30">Une presentation sur Elsie Augustave doit etre inseree ia cet endroid</p>
                        <div class="social-detail mt20 no-margin-left">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-6 mt20 p-lr-30">
                <div class="row gray-bg">
                    <div class="col-md-6 no-padding-left">
                        <img src="@routes.Assets.at("img/our-team/team3.jpg")" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-uppercase fz-16 mt30">Mathieu Gbetro</h5>
                        <h5 class="orange fz-16">- Profession</h5>
                        <p class="mt30 mb30">Une presentation sur Mathieu Gbetro doit etre inseree ia cet endroid</p>
                        <div class="social-detail mt20 no-padding no-margin">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mt20 p-lr-30">
                <div class="row gray-bg">
                    <div class="col-md-6 no-padding-left">
                        <img src="@routes.Assets.at("img/our-team/team4.jpg")" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-uppercase fz-16 mt30">Aïssa Diallo</h5>
                        <h5 class="orange fz-16">- Profession</h5>
                        <p class="mt30 mb30">Une presentation sur Aïssa Diallo doit etre inseree ia cet endroid</p>
                        <div class="social-detail mt20 no-margin-left">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mt20 p-lr-30">
                <div class="row gray-bg">
                    <div class="col-md-6 no-padding-left">
                        <img src="@routes.Assets.at("img/our-team/team5.jpg")" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-uppercase fz-16 mt30">Amadou Woury Diallo</h5>
                        <h5 class="orange fz-16">- Profession</h5>
                        <p class="mt30 mb30">Une presentation sur Amadou Woury Diallo doit etre inseree ia cet
                            endroid</p>
                        <div class="social-detail mt20 no-padding no-margin">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

    @footer()
